@charset "utf-8";
/* CSS Document */

body {
	font-family:"myriad-pro-condensed",sans-serif;
	color:#666;	
	font-size:14px;
	line-height:15px;
	margin:0px;
	padding:0px;
	
}

a {
	text-decoration:none;	
	color:#3e81b6;
}

a:hover {
	text-decoration:underline;	
}

select {
	font-family:"myriad-pro-condensed",sans-serif;
	font-size:16px;	
}

strong {
	font-weight:600;	
}

#outermost {
	width:525px;	
	position:relative;
}

#slideSelectArea {
	position:relative;
	height:50px;
}

#slideSelectArea .betweenSelect {
	height:0px;
	width:0px;
	overflow:visible;
	position:absolute;
	top:0px;
	right:15px;
}

#slideSelectArea .betweenSelect .caret {
	background-image:url(caret_light.png);
	width:18px;
	height:46px;	
}

#slideSelectArea .betweenSelect .caret.dark {
	background-image:url(caret_dark.png);
}

#circleSelectArea {
	position:absolute;
	height:15px;
	width:336px;
	top:77px;	
	left:10px;
}

#slideSelectArea .slideSelector {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	margin:0px;
	height:100%;
	display:block;
	float:left;
	color:#999;
	text-align:center;
	padding:5px;
	font-weight:600;
	font-size:87%;
	position:relative;
	/*border-bottom:1px solid #555;*/
	bottom:0px;
}

#selectSlide0 {width:9%;}
#selectSlide1 {width:15%;}
#selectSlide2 {width:20%;}
#selectSlide3 {width:21%;}
#selectSlide4 {width:16%;}
#selectSlide5 {width:6%;}

#slideSelectArea .slideSelector .inner {
	margin:0px;
	padding:0px;
	height:80%;
	width:98%;
	left:1%;
	/*background-color:#ddd;*/	
	display:block;
	position:absolute;
	bottom:0px;
}

/*#outermost #slideSelectArea .slideSelector.selected .inner {
	background-color:#fff;	
}*/

#slideSelectArea .slideSelector .numeral {
	font-size:24px;
	width:20%;
	height:100%;
	position:absolute;
	left:2px;
	top:5px;
	text-align:left;	
}

#slideSelectArea .slideSelector .text {
	width:75%;
	padding:1%;
	position:absolute;
	right:0px;
	text-align:left;
	font-size:16px;
}

#selectSlide1.slideSelector .text {width:85%}
#selectSlide2.slideSelector .text {width:83%}
#selectSlide3.slideSelector .text {width:79%}
#selectSlide4.slideSelector .text {width:70%}
#selectSlide5.slideSelector .text {width:100%}

#slideSelectArea .slideSelector.selected {
	/*background-color:#fff;
	border:1px solid #555;
	border-bottom:0px;*/
	color:#222;	
	cursor:default;
}

#circleSelectArea .circleSelector {
	width:10px;
	margin:4px;
	padding:0px;
	height:10px;
	/*border-radius:5px;
	background-color:#ddd;*/	
	display:block;
	float:left;
	color:#999;
}

#circleSelectArea .circleSelector.selected {
/*	background-color:#aaa;*/
	color:#222;	
}

.popup {
	display:none;
	background-color:#eee;
	border:1px solid #ddd;
	position:absolute;
	width:96%;
	height:115px;
	margin:2%;
	top:70px;	
}

.popup .textDiv{
	margin:10px;
	font-family:"myriad-pro",sans-serif;	
}

#playPauseArea, #restartArea {
	position:absolute;
	top:77px;
	height:32px;
	width:32px;		
	cursor:pointer;
	visibility:hidden;
}

#playPauseArea {
	left:209px;
}

#restartArea {
	left:259px;
}

#continueArea {
	display:none;
	position:absolute;
	left:150px;
	top:240px;
}

#outermost .chartSlide {
	display:block;
	position:absolute;
	top:100px;
	left:0px;
	visibility:hidden;
}

#outermost .chartSlide .chartDesc {
	height:120px;
	position:relative;	
}

#slide5.chartSlide .chartDesc {
	height:0px;	
}

#outermost .chartSlide .chartDescBody {
	position:relative;
	height:100px;
	font-family:"myriad-pro",sans-serif;	
}

#outermost .chartSlide .chartBelowSliderHeader {
	font-size:16px;	
}

.yearSliderAutoGen {
	margin-top:20px;
	height:40px;
	border:0px;
	background:#fff;
	width:90%;
	left:5%;
}

.yearSliderAutoGen .hLine {
	position:absolute;
	background-color:#aaa;
	height:1px;
	width:100%;
	top:40px;
	left:2px;	
}

.yearSliderAutoGen .yLabel {
	position:absolute;	
	font-family:"myriad-pro-condensed";
	font-size:16px;
	color:#aaa;
	top:5px;
}

.yearSliderAutoGen .yLabel div {
	position:relative;
	left:-12px;
}

.yearSliderAutoGen .vLine {
	position:absolute;
	background-color:#aaa;
	width:1px;
	height:6px;
	top:-3px;
}

#slide1 {
	visibility:visible;
	display:block;	
}

#slide0 .introBlurb {
	font-family:"myriad-pro",sans-serif;	
	position:relative;
	top:-40px;
}

#slide0 .beginWrapper {
	text-align:center;	
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
}

.redButton, .closePopup {
	font-size:20px;
	line-height:22px;
	padding:5px;
	background-color:#b9292f;
	color:#fff;
	font-weight:bold;
	text-align:center;	
	margin-left:auto;
	margin-right:auto;
	width:200px;
	cursor:pointer;
}

.closePopup {
	width:160px;
	line-height:18px;	
}

.redButton:hover, .closePopup:hover {
	text-decoration:underline;	
}

#slide0 .thumbnailTable {
	margin-top:1em;	
}

#slide0 .thumbnailTable table td img {
	margin:8px;
	cursor:pointer;
}

#slide0 .thumbnailTable table td img:hover {
	-webkit-box-shadow: 0px 0px 3px 5px #aac8e0;
	-moz-box-shadow: 0px 0px 3px 5px #aac8e0;
	box-shadow: 0px 0px 3px 5px #aac8e0; 
}

.slideTextMargin {
	width:504px;
	margin-left:12px;
	margin-right:12px;	
	position:relative;
}

#slide1Canvas {
	width:403px;
	height:252px;	
}

h1,h2,h3,h4,h5,h6 {
	font-weight:100;
}	

.yearSlider {
	height:0px;
	border-radius:0px;
	border:none;
}

#outermost .chartSlide .ui-slider {
	font-family:"myriad-pro-condensed","sans-serif";	
}

.chartSlide .ui-slider .ui-slider-handle {
	width:10px;
	height:10px;
	border:0px;
	background-image:url(slider_circle.png);
	border-radius:0px;
	margin:0px;
	margin-left:-2px;
	cursor:pointer;
}

.chartSlide .ui-slider .ui-slider-handle div.sliderHandle {
	width:40px;
	height:15px;
}

.chartSlide .ui-slider .ui-slider-handle div.sliderLegendBox {
	position:absolute;
	left:0px;
	top:0px;
	width:15px;
	height:15px;
}

.chartSlide .ui-slider .ui-slider-handle div.lowerSliderHandle div.sliderLegendBox {
	background-color:#aac8e0;
}

.chartSlide .ui-slider .ui-slider-handle div.upperSliderHandle div.sliderLegendBox {
	background-color:#3e81b6;
}

.chartSlide .ui-slider .ui-slider-handle:focus {
	outline:0px;
}

.chartSlide .exploreSelector {
	position:absolute;
	top:0px;
	left:5px;	
}

.chartSlide .chartDescHeader {
	position:relative;
	display:block;
	font-size:1.5em;	
	line-height:1.0em;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
	font-weight:bold;
}

.chartSlide .animateInner {
	position:relative;
	width:100%;
	overflow:hidden;
	
}

.chartSlide .sliderContainer {
	margin-left:30px;
	width:446px;
	position:relative;
}

.chartSlide .sliderContainer .sliderGrid{
	position:absolute;
	top:-4px;
	height:30px;
}

.chartSlide .sliderContainer .sliderHandle {
	position:absolute;
	bottom:12px;
	right:5px;	
}

.chartSlide .sliderContainer .sliderHandle .sliderText  {
	position:absolute;
	font-weight:bold;
	color:#555;
	top:1px;
	left:19px;
	font-size:15px;
}

.chartSlide .slideTextMargin {
	position:relative;
	top:20px;	
}

.chartSlide .slideTextMargin .slideCharts {
	position:relative;
	height:250px;
}

.chartSlide .slideTextMargin .slideCharts .vertical_divider {
	left:413px;
	top:0px;	
	position:absolute;
}

.chartSlide .slideTextMargin .slideCharts .leftCanvas {
	position:absolute;
	left:0px;
	
}

.chartSlide .slideTextMargin .slideCharts .rightCanvas {
	position:absolute;
	right:0px;
	
}

div.credits {
	font-family:"myriad-pro";
	font-size:12px;
	position:absolute;
	top:600px;	
	width:100%;
	padding:5px;
}

div.credits p {
	font-size:12px;
	padding:0em;
	margin:0em;
}

#cbppCredit {
	border-top:1px solid #aaa;
	font-size:12px;	
	margin-top:5px;
	padding-top:3px;
	text-align:right;
	color:#0081a4;
	margin-right:3px;
}

.embedLink {
	color:#0081a4;
	clear:both;
	cursor:pointer;
}

.embedLink:hover {
	text-decoration:underline;
}

div.embedCode {
	display:none;	
	position:absolute;
	height:5em;
	bottom:50px;
	border:1px solid #000;
	z-index:100;
	left:5px;
	width:98%;
	max-width:525px;
	background-color:#fff;
	padding:5px;
}

div.embedCodeArea {
	font-family:"Courier New", Courier, monospace;
	position:relative;
	top:10px;
	background-color:#fff;
	font-size:12px;
	
}
